.swiper-pagination-menu-bullet {
  cursor: pointer;
  width: 120px;
  line-height: 50px;
  display: inline-block;
  border-right: 1px solid #33333333;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.swiper-pagination-menu-bullet:last-of-type {
  border-right: none;
}

.swiper-pagination-menu-bullet:focus {
  outline: none;
}
