.section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

@media (max-width: 1023px) {
  .section-wrapper {
    flex-direction: column;
  }
}
