.booking__form-button {
  border: none;
  width: 100%;
  margin-top: 10px;
}

.booking__form-button:focus {
  outline: none;
}

@media (max-width: 465px) {
  .booking__form-button {
    width: 90%;
    margin: 10px auto 0;
  }
}
