@import url(__logo/header__logo.css);
@import url(__section/header__section.css);

.header {
  height: 100px;
  position: relative;
  z-index: 1;
  color: #fff;
}

@media (max-width: 1070px) {
  .header {
    height: auto;
    border-bottom: 1px solid #ffffff33;
  }
}
