@import url(__item/menu-row__item.css);
@import url(__link/menu-row__link.css);

.menu-row {
  font-family: 'Open Sans', 'Arial', 'Helvetica', 'Nimbus Sans L', sans-serif;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 42%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 1070px) {
  .menu-row {
    flex-direction: column;
    display: none;
    width: 100%;
    justify-content: flex-end;
    padding-left: 80px;
    border-bottom: none;
  }

  .menu-row:first-of-type {
    padding-top: 25px;
  }

  .menu-row:last-of-type {
    padding-bottom: 25px;
  }

  .nav__toggle:checked ~ .menu-row {
    display: block;
  }
}

@media (max-width: 1023px) {
  .menu-row {
    padding-left: 40px;
  }
}

@media (max-width: 575px) {
  .menu-row {
    padding-left: 16px;
  }
}
